{% extends "app/layout.html" %}

{% block title %}index page{% endblock %}

{% block body %}
    {% comment %} users ip: {{user_ip}} {% endcomment %}


    
    <p>Документация по API:</p>
    {% comment %} получения списка всех опросов {% endcomment %}
    <div class="questions_tekst mt-4">
        <p >1) Получить список всех опросов только <b>GET запросы.</b>  <a href="http://127.0.0.1:8000/list_opros/">http://127.0.0.1:8000/list_opros/</a> </p> 
        <p>Поля:</p>
        <table class="table table-bordered mt-4">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">title</th>
                    <th scope="col">opisanie</th>
                    <th scope="col">date_of_start</th>
                    <th scope="col">date_of_end</th>
                    <th scope="col">blocked</th>
                    <th scope="col">creator</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>уникальный id</td>
                    <td>Заголовок</td>
                    <td>Описание опроса</td>
                    <td>Дата начала опроса</td>
                    <td>Дата окончания опроса</td>
                    <td>заблокировано или нет</td>
                    <td>создатель опроса</td>
                </tr>
            </tbody>
        </table>

    </div>

    {% comment %} получения списка всех вопросов с текстовым ответом {% endcomment %}
    <div class="questions_tekst mt-4">
        <p >2) Получить Конкретный опрос в деталях  <a href="http://127.0.0.1:8000/detailed_opros/1/">http://127.0.0.1:8000/detailed_opros/id(pk)/</a> </p> 
        <p>вместо id(pk) указать id конкретного опроса (например "1", "33","69)</p>
        <p> Методы обращений: <b> GET, POST, CREATE, DELETE </b></p> 
        <p>Поля:</p>
        <table class="table table-bordered mt-4">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">title</th>
                    <th scope="col">opisanie</th>
                    <th scope="col">date_of_start</th>
                    <th scope="col">date_of_end</th>
                    <th scope="col">blocked</th>
                    <th scope="col">creator</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>уникальный id опроса</td>
                    <td>Заголовок опроса</td>
                    <td>описание опроса</td>
                    <td>Дата начала опроса (необязательно к заполнению (по умолчанию Null))</td>
                    <td>Дата конца опроса (необязательно к заполнению(по умолчанию Null))</td>
                    <td>"True" or "False" только два значения, по умолчанию ставиться "False", если в опросе имеется заполненое date_of_start (!= Null не равное Null) , то необходимо сменить поле "blocked=True" и заблокировать возможность изменения полей</td>
                    <td>Создатель опроса, сюда указать id user'a (по умолчанию "id=1" это id admin'a) </td>
                </tr>
            </tbody>
        </table>

    </div>

    {% comment %} получения списка всех вопросов с текстовым ответом {% endcomment %}
    <div class="questions_tekst mt-4">
        <p >3) Получить список всех вопросов с текстовым ответом <b>GET запросы.</b>  <a href="http://127.0.0.1:8000/question_tekst/">http://127.0.0.1:8000/question_tekst/</a> </p> 
        <p>Поля:</p>
        <table class="table table-bordered mt-4">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">question_text</th>
                    <th scope="col">question_answer</th>
                    <th scope="col">opros_id</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>уникальный id вопроса</td>
                    <td>Сам вопрос сюда</td>
                    <td>поле не заполнять, игнорировать (не обязательно, (удалить))</td>
                    <td>id опроса к которму прилинкован текущий вопрос</td>
                </tr>
            </tbody>
        </table>

    </div>

    {% comment %} получения списка всех вопросов с текстовым ответом {% endcomment %}
    <div class="questions_tekst mt-4">
        <p >4) Получить Конкретный ВОПРОС c текстовым ответом в деталях  <a href="http://127.0.0.1:8000/detailed_opros/1/">http://127.0.0.1:8000/detailed_opros/id(pk)/</a> </p> 
        <p>вместо id(pk) указать id конкретного опроса (например "1", "33","69)</p>
        <p> Методы обращений: <b> GET, POST, CREATE, DELETE </b></p> 
        <table class="table table-bordered mt-4">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">question_text</th>
                    <th scope="col">question_answer</th>
                    <th scope="col">opros_id</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>уникальный id вопроса</td>
                    <td>Сам вопрос сюда</td>
                    <td>поле не заполнять, игнорировать (не обязательно, (удалить))</td>
                    <td>id опроса к которму прилинкован текущий вопрос</td>
                </tr>
            </tbody>
        </table>

    </div>
    
    




{% endblock %}