{% extends "app/layout.html" %}

{% block title %}index page{% endblock %}

{% block body %}
    
    <p>Документация по API:</p>
    {% comment %} получения списка всех опросов {% endcomment %}
    <div class="questions_tekst mt-4">
        <p >1) Получить список всех опросов только <b>GET запросы.</b>  <a href="http://127.0.0.1:8000/list_opros/">http://127.0.0.1:8000/list_opros/</a> </p> 
        <p>Поля:</p>
        <table class="table table-bordered mt-4">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">title</th>
                    <th scope="col">opisanie</th>
                    <th scope="col">date_of_start</th>
                    <th scope="col">date_of_end</th>
                    <th scope="col">blocked</th>
                    <th scope="col">creator</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>уникальный id</td>
                    <td>Заголовок</td>
                    <td>Описание опроса</td>
                    <td>Дата начала опроса</td>
                    <td>Дата окончания опроса</td>
                    <td>заблокировано или нет</td>
                    <td>создатель опроса</td>
                </tr>
            </tbody>
        </table>

    </div>

    {% comment %} получения списка всех вопросов с текстовым ответом {% endcomment %}
    <div class="questions_tekst mt-4">
        <p >2) Получить Конкретный опрос в деталях  <a href="http://127.0.0.1:8000/detailed_opros/1/">http://127.0.0.1:8000/detailed_opros/id(pk)/</a> </p> 
        <p>вместо id(pk) указать id конкретного опроса (например "1", "33","69)</p>
        <p> Методы обращений: <b> GET, POST, CREATE, DELETE </b></p> 
        <p>Поля:</p>
        <table class="table table-bordered mt-4">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">title</th>
                    <th scope="col">opisanie</th>
                    <th scope="col">date_of_start</th>
                    <th scope="col">date_of_end</th>
                    <th scope="col">blocked</th>
                    <th scope="col">creator</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>уникальный id опроса</td>
                    <td>Заголовок опроса</td>
                    <td>описание опроса</td>
                    <td>Дата начала опроса (необязательно к заполнению (по умолчанию Null))</td>
                    <td>Дата конца опроса (необязательно к заполнению(по умолчанию Null))</td>
                    <td>"True" or "False" только два значения, по умолчанию ставиться "False", если в опросе имеется заполненое date_of_start (!= Null не равное Null) , то необходимо сменить поле "blocked=True" и заблокировать возможность изменения полей</td>
                    <td>Создатель опроса, сюда указать id user'a (по умолчанию "id=1" это id admin'a) </td>
                </tr>
            </tbody>
        </table>

    </div>

    {% comment %} получения списка всех вопросов с текстовым ответом {% endcomment %}
    <div class="questions_tekst mt-4">
        <p >3) Получить список всех вопросов с текстовым ответом <b>GET запросы.</b>  <a href="http://127.0.0.1:8000/question_tekst/">http://127.0.0.1:8000/question_tekst/</a> </p> 
        <p>Поля:</p>
        <table class="table table-bordered mt-4">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">question_text</th>
                    <th scope="col">question_answer</th>
                    <th scope="col">opros_id</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>уникальный id вопроса</td>
                    <td>Сам вопрос сюда</td>
                    <td>поле не заполнять, игнорировать (не обязательно, (удалить))</td>
                    <td>id опроса к которму прилинкован текущий вопрос</td>
                </tr>
            </tbody>
        </table>

    </div>

    {% comment %} получения списка всех вопросов с текстовым ответом {% endcomment %}
    <div class="questions_tekst mt-4">
        <p >4) Получить Конкретный ВОПРОС c текстовым ответом в деталях  <a href="http://127.0.0.1:8000/detailed_opros/1/">http://127.0.0.1:8000/detailed_opros/id(pk)/</a> </p> 
        <p>вместо id(pk) указать id конкретного опроса (например "1", "33","69)</p>
        <p> Методы обращений: <b> GET, POST, CREATE, DELETE </b></p> 
        <table class="table table-bordered mt-4">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">question_text</th>
                    <th scope="col">question_answer</th>
                    <th scope="col">opros_id</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>уникальный id вопроса</td>
                    <td>Сам вопрос сюда</td>
                    <td>поле не заполнять, игнорировать (не обязательно, (удалить))</td>
                    <td>id опроса к которму прилинкован текущий вопрос смотреть в пункте 1</td>
                </tr>
            </tbody>
        </table>

    </div>
    
    
    {% comment %} получения спискок всех вопросов с ВАРИАНТАМИ ответов {% endcomment %}
    <div class="questions_tekst mt-4">
        <p >5) Получить спискок всех вопросов с ВАРИАНТАМИ ответов <b>GET запросы.</b>  <a href="http://127.0.0.1:8000/question_variant/">http://127.0.0.1:8000/question_variant/</a> </p> 
        <p>Поля:</p>
        <table class="table table-bordered mt-4">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">vopros</th>
                    <th scope="col">variant_1</th>
                    <th scope="col">variant_2</th>
                    <th scope="col">variant_3</th>
                    <th scope="col">variant_4</th>
                    <th scope="col">mnogo</th>
                    <th scope="col">opros_id</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>уникальный id вопроса</td>
                    <td>Сам вопрос сюда</td>
                    <td>Первый вариант ответа (может быть Null)</td>
                    <td>Второй вариант ответа (может быть Null)</td>
                    <td>Третий вариант ответа (может быть Null)</td>
                    <td>Четвертый вариант ответа (может быть Null)</td>
                    <td>Возможность выбора несколько вариантов или только один. "True" or "False" только два значения, по умолчанию ставиться "False", если "True" значит значений выбора несколько, если "False" то только один </td>
                    <td>id опроса к которму прилинкован текущий вопрос смотреть в пункте 1</td>
                </tr>
            </tbody>
        </table>

    </div>


    {% comment %} получения подробного вопроса с ВАРИАНТАМИ ответов {% endcomment %}
    <div class="questions_tekst mt-4">
        <p >6) Получения подробного вопроса с ВАРИАНТАМИ ответов <b>GET запросы.</b>  <a href="http://127.0.0.1:8000/question_variant_detailed/1/">http://127.0.0.1:8000/question_variant_detailed/id(pk)//</a> </p> 
        <p> вместо id(pk) указать id конкретного опроса (например "1", "33","69)</p>
        <p> Методы обращений: <b> GET, POST, CREATE, DELETE </b></p> 
        <p>Поля:</p>
        <table class="table table-bordered mt-4">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">vopros</th>
                    <th scope="col">variant_1</th>
                    <th scope="col">variant_2</th>
                    <th scope="col">variant_3</th>
                    <th scope="col">variant_4</th>
                    <th scope="col">mnogo</th>
                    <th scope="col">opros_id</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>уникальный id вопроса</td>
                    <td>Сам вопрос сюда</td>
                    <td>Первый вариант ответа (может быть Null)</td>
                    <td>Второй вариант ответа (может быть Null)</td>
                    <td>Третий вариант ответа (может быть Null)</td>
                    <td>Четвертый вариант ответа (может быть Null)</td>
                    <td>Возможность выбора несколько вариантов или только один. "True" or "False" только два значения, по умолчанию ставиться "False", если "True" значит значений выбора несколько, если "False" то только один </td>
                    <td>id опроса к которму прилинкован текущий вопрос смотреть в пункте 1</td>
                </tr>
            </tbody>
        </table>

    </div>


    {% comment %} получения спискок всех вопросов с ВАРИАНТАМИ ответов {% endcomment %}
    <div class="questions_tekst mt-4">
        <p >7) Получение все ОТВЕТОВ ПОЛЬЗОВАТЕЛЕЙ <b>GET запросы.</b>  <a href="http://127.0.0.1:8000/answer_list/">http://127.0.0.1:8000/answer_list/</a> </p> 
        <hr>
        <p >8) Получить Конкретный ОТВЕТ чтобы запостить новый ответ нужно постить на любой id(например 1) <a href="http://127.0.0.1:8000/answer_detailed/3/">http://127.0.0.1:8000/answer_detailed/id(pk)/</a> </p> 
        <p>вместо id(pk) указать id конкретного опроса (например "1", "33","69)</p>
        <p> Методы обращений: <b> GET, POST, CREATE, DELETE </b></p> 
        <hr>
        <p>Поля:</p>
        <table class="table table-bordered mt-4">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">user_id</th>
                    <th scope="col">answer_for_tekst_id</th>
                    <th scope="col">answer_variant_1</th>
                    <th scope="col">answer_variant_2</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>уникальный id ответа </td>
                    <td>уникальный id юзера (может быть Null</td>
                    <td>id вопроса с множественными ответами (может быть Null</td>
                    <td>Первый вариант ответа (может быть Null)</td>
                    <td>Второй вариант ответа (может быть Null)</td>
 
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered mt-4">
            <thead>
                <tr>
                    <th scope="col">answer_variant_3</th>
                    <th scope="col">answer_variant_4</th>
                    <th scope="col">opros_id</th>
                    <th scope="col">question_tekst_id</th>
                    <th scope="col">question_variant_id</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Третий вариант ответа (может быть Null)</td>
                    <td>Четвертый вариант ответа (может быть Null)</td>
                    <td>id опроса к которму прилинкован текущий вопрос смотреть в пункте 1 (может быть Null)</td>
                    <td>id вопроса с вводом текста (может быть Null)</td>
                    <td>ответ на вопрос с вводом текста (может быть Null)</td>
                </tr>
            </tbody>
        </table>


    </div>

    



{% endblock %}