{% extends "app/layout.html" %}

{% block title %}Лист опросов(для админа){% endblock %}

{% block body %}

лист опросов <br>

    {% for opros in all_opros %}
    
        <div class="col-sm-6">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Название опроса: <b>{{opros}}</b></h5>
                    <p class="card-text">id опроса: {{opros.id}}</p>
                    <a href="{% url 'opros_detailed' opros.id %}" class="btn btn-primary">Вопросы внутри</a>
                    {% comment %} кнопка изменить {% endcomment %}
                    {% if opros.date_of_start == None1 %}                        
                        <a href="{% url 'edit_opros' opros.pk %}" class="btn btn-info">Изменить детали опроса </a>
                    {% else %}
                        <a href="{% url 'edit_opros' opros.id %}" class="btn btn-warning">Изменить детали вопроса с датой</a>
                    {% endif %}
                </div>
            </div>
        </div>

    {% endfor %}


    {% endblock %}