{% extends "app/layout.html" %}

{% block title %}Новый опрос{% endblock %}

{% block body %}

    {% comment %} Если задача СОЗАТЬ опрос {% endcomment %}
    {% if create_opros %}

        {% if message %} <div class="mt-4">{{message}}</div> {% endif %}

        <form action="{% url 'new_opros' %}" method="POST" class="mt-4">
        {% csrf_token %}
        {{ blank_form_new_opros.as_p }}
        <input type="submit" value="Создать новый опрос" class="btn btn-primary">
        </form>
    {% endif %}





    {% if current_vopros %}
        <br>
        <div class="questions_tekst">
        Так выглядит вопрос до изменения:<br>
        <b>{{current_vopros.question_text}}</b>
        </div>
        <br>
    {% endif %}

    
    {% comment %} форма для создания вопроса {% endcomment %}
    {% if new %}    
        <form action="{% url 'new_vopros_text' opros_id %}" method="POST" class="mt-4">
        {% csrf_token %}
        {{ blank_form_new_vopros.as_p }}
        <input type="submit" value="Создать новый вопрос" class="btn btn-primary">
        </form>
    {% endif %}


{% endblock %}